[submodule "ext/coraxlib"]
	path = ext/coraxlib
	url = https://github.com/harmslab/coraxlib.git
[submodule "ext/MPIScheduler"]
	path = ext/MPIScheduler
	url = https://github.com/harmslab/MPIScheduler.git
